* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul,ol,li {
  list-style: none;
}

/* ========
    Header
==========*/
.header {
  padding: 10px 0;
  background: #ff4600;
  margin: 0 0 10px;
  color: #ff4600;
  background-image: radial-gradient(circle farthest-corner at 30% 0, #FD4500 , #9B2A00 71%);
  /*linear-gradient:(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);*/
  text-align: center;
  margin-bottom: 0;
  position:relative;
  top:0;
  width:100%;
}
.header__logo::before{
	content:'';
	position: absolute;
	top: -1px;
	left: 10%;
	width: 142px;
	height: 107px;
	z-index: 100;
	margin-left: -70px;
	background: url('https://k1.midasplayer.com/images/branding/kingLogoSprite.png?_v=1nssvt2') no-repeat 0 0;
}
@media screen and (max-width: 640px) {
 .header__logo::before {
    display: none;
  }
}
.header__title{
	font-size: 40px;
	color: #ff4600;
}
.header__title em{
	font-style: normal;
	font-size: 40px;
	/* font-weight: 900; */
	color: #FFFFFF;
}

.header p a {
  text-decoration: none;
  color: #D5DDE0;
  border-bottom: 1px solid #D5DDE0;
}
.header__separator {
	border-top: 1px solid #FF8040;
	border-bottom: 1px solid #9B2A00;
}
/* ========
    Menu
==========*/
.menu{
	/* background-color: rgba(255, 128, 64, 0); */
	color: black;
}
.menu__list{
	text-align:center;
	
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	
	margin: 0;
	padding: 0 20%;
	list-style: none;
	font-family: 'Hammersmith One', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.menu__item{
	font-size:20px;
	display:inline-block;
	margin: 12px 0px;
	text-align: center;
}
.menu__item:nth-of-type(1) .menu__item__link:hover{
	border-bottom: 5px solid #569b28;
}
.menu__item:nth-of-type(2) .menu__item__link:hover{
	border-bottom: 5px solid #24749f;
}
.menu__item:nth-of-type(3) .menu__item__link:hover{
	border-bottom: 5px solid #68062E;
}
.menu__item__link{
	font-family: 'Hammersmith One', sans-serif;
	text-decoration:none;
	padding:5px 10px;
	/* color: #FFE001; */
	text-shadow: 0 1px 0 hsla(0,0%,0%,.5);
}
.menu__separator {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #9B2A00;
}
/* ========
    Gallery
==========*/
.gallery {
	/* background: #A39183; */
}
.gallery__info {
	background: #A39183;
	text-align: center;
	color: #FFE001;
}
.gallery__info-main {
	/* background: #559855; */
}
.gallery__info-sec {
	/* background: #559855; */
}
.gallery__search{
	-ms-flex: 1 1 100%;
	-webkit-flex: 1 1 100%;
	flex: 1 1 100%;
	
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	
	margin: 0 0 0 20px;
	padding: 0 0 20px 0;
	text-align: center; /* FALLBACK */
}
.search__label{
	font-family: 'Hammersmith One', sans-serif;
	font-weight: normal;
	font-size: 112.5%;
	padding: 20px;
}
.search__input{
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	
	display: block; /* FALLBACK */
	width: 100%; /* FALLBACK */
	-moz-box-sizing: border-box; /* FALLBACK */
	box-sizing: border-box; /* FALLBACK */
	height: 50px;
}
.gallery__list{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	
	margin-left: -20px;
	text-align: center; /* FALLBACK, test */
}
.gallery__item{
	position: relative;
	-ms-flex: 1 0 200px;
	-webkit-flex: 1 0 200px;
	flex: 1 0 200px; /* wrapping won't happen with 1 as value because of flex-basis equal to 0 again. can use auto as flex-basis, but then each box is different width. using an absolute value acts as min-width but also ensures they start out same size so when flex gets added it gets added equally and each box on same line stays same width */
	
	margin: 0 0 20px 20px;
	/* padding: 0 20px; */
	border-radius: 2px;
	border: 1px solid #F0470F; /* IE fallback */
	color: #A39183; /* IE fallback */
	text-align: center;
}
.gallery__item-title{
	position: relative;
	width: 100%;
	padding: 5px 2px;
	
	margin-bottom: 50px;
	background: rgba(230, 63, 0, 0.48);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff'); /* IE */
    zoom: 1;
	color: #FFFFFF;
	z-index: 10;
}

.gallery__item > img{
	opacity: 0.;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	/* text-align: center; */
	/* width: 100%; */
}
/**/
button::-moz-focus-inner { border:0; }
button {
	background: #F0470F; /* IE fallback */
	background: hsla(15,88%,50%,1.0);
	border: 1px solid hsla(15,80%,40%,1.0);
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,.5);
	box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,.5);
	color: #fff;
	padding: 12px 20px 14px 20px;
	text-align: center;
	text-shadow: 0 1px 0 hsla(0,0%,0%,.5);
	font-family: 'Hammersmith One', sans-serif;
	font-weight: normal;
	font-size: 112.5%;
	text-transform: uppercase;
	width: 100%;
}
button:hover {
    background: hsla(15,88%,47%,1.0);
    cursor: pointer;
}
button:active {
    background: hsla(15,90%,52%,1.0);
    color: #000;
}
input[type="text"] {
	padding: 2px 2px 4px 4px;
	border: 1px solid hsl(23, 100%, 50%);
	border-radius: 2px;
	box-shadow: inset 0 0 2px #fff;
	background: hsl(26, 18%, 42%);
	/* background: -webkit-linear-gradient(top, hsl(21, 94%, 67%), #FFF); */
	background: -moz-linear-gradient(top, hsl(35,28%,90%), #fff); /* ADD other versions */
}
/**/


.module.inbox-view {
  background-color: #313744;
  color: #D5DDE0;
  left: 0;
  width: 30%;
  padding: 25px;
}

.module.inbox-view h1 {
  font-weight: 300;
  font-size: 22px;
}

.module.directive {
  background-color: #F6F5F3;
  color: #44424C;
  right: 0;
  width: 100%;
}

.module.directive .email {
  padding: 25px;
}

.flex {
  display: flex;
  align-items: stretch;
  min-height: 1000px;
}

/**
 * inbox
 */
.inbox {

}
.inbox__list {

}
.inbox__list li {
  border-top: 1px solid #ccc;
  padding: 15px 0;
}
.inbox__list li:last-child {
  border-bottom: 1px solid #ccc;
}
.inbox__count {
  margin: 0 0 10px 0;
}

.search-bar {
  background-color: #E3E1E2;
  height: 105px;
  padding: 25px;
}

.inbox__search {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 10px;
  margin: 0 0 10px 0;
  width: 250px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.inbox__search:focus {
  outline: 0;
  border-color: #aaa;
}

.inbox__list-info {
  display: inline-block;
  left: 0;
  width: 80%;
  padding-left: 25px;
}

.inbox__list-date {
  font-size: 12px;
  margin-bottom: 15px;
}

.inbox__list-actions {
  margin: 10px 0 0;
  display: inline-block;
  right: 0;
  margin-left: 25px;
}
.inbox__list-subject {
  font-weight: 900;
}
.inbox__list-actions a {
  margin: 0 10px 0 0;
  font-weight: 900;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #a6120d;
  border-radius: 3px;
  padding: 6px 10px;
  color: #fff;
  background: #dd1d18;
}
.inbox__list-actions a:hover {
  background: #a6120d;
}

li.no-emails {
  padding: 25px;
}

/**
 * email
 */
.email {

}
.email__info {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}
.email__content {
  margin: 15px 0;
}
.email__content p {
  margin: 0 0 10px;
}
.email__reply,
.email__response a,
.email__back {
  margin: 10px 10px 0 0;
  font-weight: 900;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #a6120d;
  border-radius: 3px;
  padding: 6px 10px;
  color: #fff;
  background: #dd1d18;
}
.email__reply:hover,
.email__response a:hover,
.email__back:hover {
  background: #a6120d;
}
.email__response {
  margin: 0 0 25px;
}
.email__response-text {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 6px 10px;
  color: #222;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  outline: 0;
}
.email__response-text:focus {
  border-color: #aaa;
}

@media screen and (max-width: 840px) {
  .module.inbox-view {
    display: none;
  }
}
