<section class="game">
	<section data-ng-show="!game.name" class="no-items">
		Oooops!!! Seems there's a problem showing the game details.<br />
			<button type="button" data-ng-click="game.showGallery()">Back To Gallery</button>
	</section>
	<section data-ng-hide="!game.name">
		<header>
			<h1 class="game__title">{{game.name}}</h1>
			<em class="game__sub-title">{{game.name}}</em>
			<!-- <img alt="" data-ng-src="{{game.images['60x60']}}"> -->
		</header>
		<img data-ng-src="{{game.imageBig}}">
		<button type="button" data-ng-click="game.playGame()">Play</button>
		<ul class="game__info">
			<li>name : {{game.name}}</li>
			<li>play game : {{game.url}}</li>
		</ul>
		<section class="game__details">
			<article class="game__detail">
				<label>screenshots</label>
				<img data-ng-src="{{game.screenshot}}">
				Lorem Ipsum ...
			</article>
			<article class="game__detail">
				<label>more details</label>
				<img data-ng-src="{{game.image}}">
				Lorem Ipsum ...
			</article>
		</section>
	</section>
	
</section>    